/node_modules
/public/sheets
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
/.idea
package-lock.json
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
